@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
  }
  
  html {
    height: 900px;
    width: 700px;
    
  }
  
  main{
    display: grid;
    font-family: "Figtree", sans-serif;
    background-color: #f8f4e6;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
  }
  .orangebar{
    background-color:#EF5504;
    height: 10px;
    width: 100%;
  }
  .redbar{
    background-color:#e8b291;
    height: 5px;
    width: 100%;
  }
  .header {
    background: #f8f4e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-size: 60px;
    font-weight: 700;
    color: #EF5504; 
    padding-left: 30%;
 
  }

  .firstrow {
    background: #f8f4e6;
    display: flex;
    justify-content: right;
    font-size: 60px;
    font-weight: 700;
    color: #EF5504;
    margin-right: 10px;


  }

  .content{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
  }
  .whitecard{
    height: 180px;
    width: 50%;
    font-size: 12px;
    text-align: left;
    margin: 5px;
  }

  .wb1{
    font-size: 25px;
    margin-left: 5px;
    color: #EF5504;
    font-weight: 350;
  }
  .text1{
    font-size: 60px;
    font-weight: 600;
    margin-right: 40px;
    margin-left: 5px;
    color: #EF5504;
  }
.squares{
      display: flex;
      flex-direction: row;    
      width: 100%; 
  }
  .square1{
    background-color: #AB7255;
    width:30px;
    height: 20px;
    margin: 5px;
  }
  .square2{
    background-color: #AB7255;
    width:30px;
    height: 20px;
    margin: 5px;
  }
  .square3{
    background-color: #AB7255;
    width:30px;
    height: 20px;
    margin: 5px;
  }
  .square4{
    background-color: #AB7255;
    width:30px;
    height: 20px;
    margin: 5px;
  }
  .square5{
    background-color: #AB7255;
    width:30px;
    height: 20px;
    margin: 5px;
  }
  .square6{
    background-color: #AB7255;
    width:30px;
    height: 20px;
    margin: 5px;
  }
  .square7{
    background-color: #AB7255;
    width:30px;
    height: 20px;
    margin: 5px;
  }
  .rect{
    display: flex;
    flex-direction: row;
  
    width: 100%;
    height: 100%;
  }
  .rect1{
    background-color: #AB7255;
    width:30px;
    height: 50px;
    margin: 5px;
  }
  .rect2{
    background-color: #AB7255;
    width:30px;
    height: 50px;
    margin: 5px;
  }
  .rect3{
    background-color: #AB7255;
    width:30px;
    height: 50px;
    margin: 5px;
  }
  .rect4{
    background-color: #AB7255;
    width:30px;
    height: 50px;
    margin: 5px;
  }
  .rect5{
    background-color: #AB7255;
    width:30px;
    height: 50px;
    margin: 5px;
  }
  .rect6{
    background-color: #AB7255;
    width:30px;
    height: 50px;
    margin: 5px;
  }
  .rect7{
    background-color: #AB7255;
    width:30px;
    height: 50px;
    margin: 5px;
  }

  .blackcard {
    height: 180px;
    width: 50%;
    font-size: 12px;
    text-align: left;
    background: #f8f4e6;
    color: white;
  }
  .wb2{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .longrect{
    background-color: #AB7255;
    height: 180px;
    width: 110px;
    align-content: left;
    margin: 10px;
  }
  .tworect{
    height: 180px;
    width: 130px;
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  .toprect{
    background-color: #AB7255;
    height: 50%;
    width: 100%;
    margin-bottom: 20px;
  }
  .bottomrect{
    background-color: #AB7255;
    height: 50%;
    width: 100%;
  }
  .text2{
    font-size: 12px;
    /* font-weight: 500; */
    padding-bottom: 10px;
    margin-right: 40px;
    margin-left: 5px;
  }
  .redcard {
    height: 180px;
    width: 180px;
    font-size: 12px;
    border: 1px solid #848484;
    text-align: left;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
  }
  .pink{
    background: #e2b9b1;
    align-items: center;
    text-align: left;
    border: 1px solid #848484;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px;
    padding: 4px;
    margin-left: 5px;
  }
  .text3{
    font-size: 12px;
    /* font-weight: 500; */
    padding-bottom: 10px;
    margin-right: 40px;
    margin-left: 5px;
  }
  .secondrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    flex-direction: row;
  }
  .whitecard2{
    height: 180px;
    width: 180px;
    font-size: 12px;
    border: 1px solid blue;
    text-align: left;
    padding: 10px;
    border-radius: 15px;
  }
  .blue{

    font-size: 20px;
    font-weight: 500;
    /* margin: 20px; */
    padding-bottom: 25px;
    padding-top:10px;
    margin-left: 5px;
    color: #af2d13;
  }
  .text4{
    font-size: 12px;
    /* font-weight: 500; */
    padding-bottom: 10px;
    margin-right: 40px;
    margin-left: 5px;
  }