@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  
}
.container {
  background: red;
}

canvas {
  display: block;
}

.me {
  color:red;
}

#about, #skills {
  font-family: "Tektur";
  color: #9d0808;
  border: solid 1px #000000;
  background-color: #D3D3D3;
  margin: 50px;
  padding: 25px;
}

h1{
  font-family: "Tektur";
  margin: 50px;
}

#about:hover, #skills:hover {
  /* background-color: #8bad9b; */
  background-image: url("images/sparkle.gif");
  color: #ffffff;
}
#background {
    /* background-image: image("images/sparkle.gif"); */
    background-image: url("images/sparkle.gif");
    background-size: cover;
}

#welcome {
  
}