@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Workbench:SCAN@-53&display=swap');

html, body {
  margin: 0;
  padding: 0;
  
}
.container {
  background: red;
}

canvas {
  display: block;
}

.me {
  color:red;
}

#poems {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;

}

#poem1 {
  margin:50px;
  padding: 25px;
}

#poem1, #poem2 {
  font-family: "Jim Nightshade";
  color: gold;
  border: solid 1px #000000;
  margin-left: 50px;
  margin-right: 50px;
  padding: 25px;
  text-align: center;
  background-image: url("images/sparkle2.gif");
  height: 400px;
  width: 400px;
  scroll-behavior: smooth;
  overflow: auto;
  
  
}

#poem1s {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 95%; 
  height: 160%;  */
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  color: rgb(226, 223, 223); /* Text color */
  border: none; 
  z-index: 2; /* Place the text box above the image */
  padding: 10px; /* Add some padding inside the text box */
  font-size: 22px; 
  resize: none; /* Prevent resizing of the text box */
  outline: none; /* Remove the focus outline */
  overflow: auto;
}

h1{
  font-family: "Jim Nightshade";
  margin: 50px;
  font-weight: 700;
  font-size: 56px;
}

a:hover{
  color: yellow;
}

a {
  color: mediumorchid;
}

#poem1:hover, #poem2:hover {
  background-color: #8bad9b transparent 40%;
  /* background-image: url("images/void.gif"); */
  background-image: none;
  color: black;
}
#background {
    /* background-image: image("images/sparkle.gif"); */
    background-image: url("https://i.pinimg.com/originals/8b/0a/29/8b0a294427c34da933fe69452075e97c.gif");
    background-size: cover;
}



#header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-content: center;
}

#welcome #scrolly {
  z-index: 1000;
  pointer-events: none; /* Allows interaction with underlying elements */
  width: auto;
  height:auto;
}

#links {
    font-family: "Jim Nightshade";
  margin: 50px;
  font-weight: 700;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
marquee {
  pointer-events: none; /* Allows interaction with underlying elements */
  width: 100%;
  height: 100%;
}

#names {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content:center;
    flex-wrap: wrap;
}