main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
  }

  .card {
    position: absolute;
    top: 25%;
    /* left: 350px; */
    text-align: center;
    align-items: center;
    background-color:darkslategrey;
    color: thistle;
  }

  .card a{
    color:yellow
  }

  .card a:hover {
    color: cornflowerblue;
  }