@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Workbench:SCAN@-53&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #c7e7f6; 
  height: 100%;
  width: 100%; 
}
.hidden {
  display: none;
}
#link_container{
  border: #2a4e5f 1px solid;
  width: 25%;
  
}
#titles {
display: flex;
flex-direction: column;
align-items: start;
}

#links {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: start;

}

#column1 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#column1 a {
  padding: 5px;
}
#column2 {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
#column2 a {
  padding: 5px;