@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Workbench:SCAN@-53&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: #c7e7f6; 
  height: 100%;
  width: 100%; 
}
.hidden {
  display: none;
}